<div class="container">
    <div class="content">
            <h1 class="form-title">Register Here</h1>
            <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
               <input type="text" name="name" formControlName="name" placeholder="NAME">
               @if(signupForm.controls['name'].invalid && (signupForm.controls['name'].touched || signupForm.controls['name'].dirty )){
                <p>
                 @if(signupForm.controls['name'].errors?.['required']){
                     <span class="text-danger">This is required field</span>
                 }@else if (signupForm.controls['name'].errors?.['minlength']) {
                    <span class="text-danger">Length of name should be atleast 3 characters</span>
                 }
                </p>
            }   
                <input type="email" name="email" formControlName="email" placeholder="EMAIL ADDRESS">
                @if(signupForm.controls['email'].invalid && (signupForm.controls['email'].touched || signupForm.controls['email'].dirty )){
                    <p>
                     @if(signupForm.controls['email'].errors?.['required']){
                         <span class="text-danger">This is required field</span>
                     }@else if (signupForm.controls['email'].errors?.['email']) {
                        <span class="text-danger">Please enter a valid email.</span>
                     }
                    </p>
                }   
                <input type="password" name="password" formControlName="password" placeholder="PASSWORD"/><br>
                @if (signupForm.controls['password'].invalid && (signupForm.controls['password'].touched || signupForm.controls['password'].dirty)) {
                    <p>
                     @if(signupForm.controls['password'].errors?.['required']){
                         <span class="text-danger">This is required field</span>
                     }@else if (signupForm.controls['password'].errors?.['minlength']) {
                        <span class="text-danger">Password should have atleast length of 8 .</span>
                     }@else if(signupForm.controls['password'].errors?.['pattern']){
                        <span class="text-danger">Please follow this pattern to create password-> <br>
                            1) At least one lowercase letter<br>
                            2) At least one uppercase letter<br>
                            3) At least one digit<br>
                            4) At least one special character</span>
                     }
                    </p>
                }
                <p >Already a user? <a routerLink="/login">Login</a></p>
                <button  type="submit">Submit</button>
            </form>
        </div>
 </div>
