<div class="login-form">
    <div class="form-container">
      <div class="login-header">
        <h3>Enter registered email</h3>
      </div>
      <form #Form="ngForm" (ngSubmit)="onSubmit(Form)">

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Enter your Email"
            type="email"
            name="email"
            id="email"
            #email="ngModel"
            [(ngModel)]="userEmailAdress"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            required
            />
          <mat-error *ngIf="email.invalid && (email.touched || email.dirty)">
            <ng-container *ngIf="email.hasError('required')">
              * This is a required field
            </ng-container>
            <ng-container *ngIf="email.hasError('pattern')">
                Please enter a valid email.
            </ng-container>
          </mat-error>
        </mat-form-field>
        <div class="form-actions">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="Form.invalid || isSubmitted"
             >
                Submit
            </button>
          </div>
      </form>  
    </div>
</div>
