
.dialog-description {
    margin-bottom: 20px;
    color: #555;
  }
 
  .full-width {
    width: 100%;
    margin-bottom: 10px; 
  }
  

  mat-error {
    font-size: 0.75em;
  }
  
  mat-dialog-content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  
  mat-dialog-actions {
    padding-top: 15px;
    margin-top: 10px; 
  }
  
  mat-dialog-actions button {
    margin-left: 8px;
  }

  .update-password-form {
    display: flex;
    flex-direction: column;
  }