<div class="login-container">
    <div class="login-header">
        <h2>User Login Form</h2>
    </div>
</div>
<div class="form-container">
    <div class="form-box">
        <form #loginForm="ngForm">
            <div class="form-group">
                <label>Enter Email:</label>
                <input class="form-control" type="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"  #email="ngModel" [(ngModel)]="userObj.email" name="email" required/>
                @if(email.invalid && (email.touched || email.dirty)){
                    <p> 
                        @if(email.hasError('required')){
                            <span class="text-danger">* This is a required field</span>
                        }@else if(email.hasError('pattern')){
                            <span class="text-danger">* Invalid email format</span>
                        }
                    </p>
                  }
            </div>
            <div class="form-group">
                <label>Enter Password:</label>
                <input class="form-control" type="password" #password="ngModel" minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&*!])[A-Za-z\d@#$%^&*!]{8,}$"  [(ngModel)]="userObj.password" name="password" required/>
                @if(password.invalid && (password.touched || password.dirty)){
                    <p> 
                        @if(password.hasError('required')){
                            <span class="text-danger">* This is a required field</span>
                        }@else if(password.hasError('minlength')){
                            <span class="text-danger p-1">* Password should have atleast length of 8</span>
                        }@else if(password.hasError('pattern')){
                            <span class="text-danger">Please follow this pattern to create password-> <br>
                                1) At least one lowercase letter<br>
                                2) At least one uppercase letter<br>
                                3) At least one digit<br>
                                4) At least one special character
                            </span>
                        }
                    </p>
                  }
            </div>
            <div class="form-actions">
                <button   class="login-btn" (click)="onLogin()">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>

