<div class="notification-container">
  <div
    class="notification-icon"
    [ngClass]="{ active: isDropDownVisible }"
    (click)="toggleDropdown()"
  >
    <mat-icon>notifications</mat-icon>
    <span id="notification-count" class="badge">{{
      notificationCount$ | async
    }}</span>
  </div>

  <div
    id="notification-dropdown"
    [ngClass]="{ active: isDropDownVisible }"
    class="dropdown"
    *ngIf="isDropDownVisible"
  >
    <p *ngIf="notifications.length === 0">No new notifications</p>

    <ul id="notification-list" *ngIf="notifications.length > 0">
      <li
        *ngFor="let notification of notifications"
        (click)="markAsRead(notification)"
        class="notification"
        [ngClass]="notification.isRead ? 'read':'unread'"
      >
        <p>{{ notification.title  |titlecase}}</p>
        <p>{{ notification.message }}</p>
        <p>{{ notification.createdAt | date : "dd-MM-yyyy hh:mm" }}</p>
      </li>
    </ul>
  </div>
</div>
